.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 42px;
    line-height: 160%;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 103px;
    margin: 0;
    text-transform: uppercase;
}

.body_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 386px);
    grid-template-rows: 444px;
    grid-auto-rows: 444px;
    row-gap: 100px;
    column-gap: 40px;
}
