.product__wrap {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    column-gap: 40px;
}

.product__galery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__box {
    display: flex;
    justify-content: space-between;
}

.img__item {
    cursor: pointer;
}

.photo {
    width: 610px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 292px;
}

.tilte_wrap {
    padding-bottom: 43px;
}

.brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    padding-bottom: 16px;
}
.name {
    font-size: 30px;
    line-height: 27px;
}

.attr__wrap {
    display: flex;
    flex-direction: column;
}

.title__attr {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 8px;
}

.attr__box {
    display: flex;
    padding-bottom: 25px;
}

.price__wrap {
    margin-bottom: 20px;
}


.title__price {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.amount {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 20px;
}


.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5ECE7B;
    border: 0;
    padding: 16px 0;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .2s;
}

.button:hover {
    opacity: 0.85;
}

.descr {
    font-size: 16px;
    line-height: 159.96%;
}



