.product__wrap {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    column-gap: 40px;
}

.product__galery {
    display: flex;
    flex-direction: column;
}

.product__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img__wrap {
    position: relative;
    width: 610px;
}

.photo {
    width: 100%;
}
.noStock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
}
.noStock__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: unset;
}

.noStock__wrap span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 160%;
    color: #8d8f9a;
}
.img__item {
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid transparent;
    margin-bottom: 30px;
}

.img__item:hover {
    border: 1px solid var(--second-color);
}



.info {
    display: flex;
    flex-direction: column;
    width: 292px;
}

.tilte_wrap {
    padding-bottom: 43px;
}

.brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    padding-bottom: 16px;
}
.name {
    font-size: 30px;
    line-height: 27px;
}

.attr__wrap {
    display: flex;
    flex-direction: column;
}

.title__attr {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 8px;
}

.attr__box {
    display: flex;
    padding-bottom: 25px;
}

.price__wrap {
    margin-bottom: 20px;
}

.title__price {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.amount {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    padding-bottom: 20px;
}

.button {
    font-size: 16px;
}

.button__disactive {
    pointer-events: none;
    opacity: 0.7;
}

.descr {
    font-size: 16px;
    line-height: 159.96%;
}

.validateBlock {
    position: relative;
    margin-bottom: 40px;
}

.validate {
    position: absolute;
    bottom: -25px;
    color: brown;
    font-weight: 700;
    font-size: 18px;
}
