.attr {
    padding-bottom: 10px;
}

.attr__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.attr__value {
    width: 44px;
    height: 24px;
    border: 1px solid var(--main-color);
    position: relative;
    font-size: 13px;
}

.attr__value span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
